JWT_ACCESS_TOKEN_SECRET=a-string-secret-at-least-256-bits-long
JWT_REFRESH_TOKEN_SECRET=a-string-secret-at-least-256-bits-long

REDIS_URL=redis://host.docker.internal:6379/0

PINECONE_HOST=http://host.docker.internal:5080
PINECONE_API_KEY=pclocal
PINECONE_INDEX_HOST=http://host.docker.internal:5081

POSTGRESQL_HOST=host.docker.internal
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DATABASE=postgres

OPENAI_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="financial-chatbot"

ENABLE_REGISTRATION=true