JWT_SECRET_KEY=a-string-secret-at-least-256-bits-long

PINECONE_HOST=http://host.docker.internal
PINECONE_PORT=5080
PINECONE_API_KEY=pclocal

POSTGRESQL_HOST=host.docker.internal
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DATABASE=postgres

OPENAI_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="financial-chatbot"