JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=

REDIS_URL=

PINECONE_HOST=
PINECONE_API_KEY=
PINECONE_INDEX_HOST=

POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=

OPENAI_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=